.main_list_background {
    -fx-background-image: url("../resources/images/list.png");
    -fx-background-size: cover, auto;
    -fx-content-display:right;
}

.list-cell:filled:hover {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: black;
    -fx-text-fill: orange;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-pref-width: 100;
}

.list-view .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.list-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

.list-view .scroll-bar:vertical .thumb{
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.list-view .scroll-bar:horizontal {
    -fx-background-color:transparent;
}

.list-view .scroll-bar:horizontal .track{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

.list-view .scroll-bar:horizontal .thumb{
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.list-view:focused{
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
    -fx-opacity: 1.0;
}

.main_client_info_background {
    -fx-background-color: #111111;
    -fx-opacity: 0.90;
}

.main_list_button {
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
}

.main_hostname_label {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.main_hostname_text {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
}

.main_client_list_background {
    -fx-background-color: transparent;
}

.window_background {
    -fx-background-color: #131313;
}

.client_title {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.client_rename {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-background-color: transparent;
}

.client_info_box {
    -fx-background-color: #292929;
}

.client_label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-background-color: transparent;
}

.client_information {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-background-color: transparent;
}

.main_client_list_title {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.icon_button {
    -fx-background-color: transparent;
}

.icon_button:hover {
    -fx-background-color: black;
    -fx-opacity: 0.7;
    -fx-background-radius: 0;
}

.progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.30em;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-background-color: white;
}

.progress-bar .track {
    -fx-background-color: transparent;
}

